  <h1>Listing Translation equivalent</h1>
  <%= render_partial "partial/paginator", @translation_equivalent_pages %><br>
<%= list_translation_equivalent %>
  <br /><%= render_partial "partial/paginator", @translation_equivalent_pages %><br />
