<%= error_messages_for 'spelling_major_dialect' %>

<!--[form:spelling_major_dialect]-->
<p><label for="spelling_major_dialect_name">Name</label><br/>
<%= text_field 'spelling_major_dialect', 'name'  %></p>
<!--[eoform:spelling_major_dialect]-->

