<dl><dd>
<div class="internal_box">


<%= edit_source %>
<br>
<%= link_to_remote image_tag("close_up.gif", :size => "87x19", :border => 0, :alt => "close"),:complete=>"re_initialize();", :update=> 'definition_space', :url => {:controller => 'definitions', :action => 'public_content_only', :id => params['definition_id']}%>	
</div>

</dd></dl>