<%= error_messages_for 'specific_dialect' %>

<!--[form:specific_dialect]-->
<p><label for="specific_dialect_name">Name</label><br/>
<%= text_field 'specific_dialect', 'name'  %></p>
<!--[eoform:specific_dialect]-->

