  <h1>Listing Model sentence</h1>
  <%= render_partial "partial/paginator", @model_sentence_pages %><br>
<%= list_model_sentence %>
  <br /><%= render_partial "partial/paginator", @model_sentence_pages %><br />
