[submodule "vendor/plugins/thl_integration"]
	path = vendor/plugins/thl_integration
	url = git://github.com/thl/thl_integration.git
[submodule "vendor/plugins/complex_scripts"]
	path = vendor/plugins/complex_scripts
	url = git://github.com/thl/complex_scripts.git
[submodule "vendor/plugins/kmaps_integration"]
	path = vendor/plugins/kmaps_integration
	url = git://github.com/thl/kmaps_integration.git
[submodule "vendor/plugins/active_resource_extensions"]
	path = vendor/plugins/active_resource_extensions
	url = git://github.com/thl/active_resource_extensions.git
[submodule "vendor/plugins/proxy_engine"]
	path = vendor/plugins/proxy_engine
	url = git://github.com/thl/proxy_engine.git
[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/amontano/annotate_models.git
[submodule "vendor/plugins/passiverecord"]
	path = vendor/plugins/passiverecord
	url = git://github.com/ambethia/passiverecord.git
[submodule "vendor/plugins/places_integration"]
	path = vendor/plugins/places_integration
	url = git://github.com/thl/places_integration.git
[submodule "vendor/plugins/mms_integration"]
	path = vendor/plugins/mms_integration
	url = git://github.com/thl/mms_integration.git
[submodule "vendor/plugins/universal_navigation"]
	path = vendor/plugins/universal_navigation
	url = git://github.com/thl/universal_navigation.git
[submodule "vendor/plugins/dictionary_integration"]
	path = vendor/plugins/dictionary_integration
	url = git://github.com/thl/dictionary_integration.git
[submodule "vendor/plugins/newrelic_rpm"]
	path = vendor/plugins/newrelic_rpm
	url = git://github.com/newrelic/rpm.git
[submodule "vendor/plugins/dictionary_engine"]
	path = vendor/plugins/dictionary_engine
	url = git://github.com/thl/dictionary_engine.git
[submodule "vendor/plugins/rails_upgrade"]
	path = vendor/plugins/rails_upgrade
	url = git://github.com/amontano/rails_upgrade.git
[submodule "vendor/plugins/authenticated_system"]
	path = vendor/plugins/authenticated_system
	url = git://github.com/thl/authenticated_system.git
