[submodule "vendor/plugins/thl_integration"]
	path = vendor/plugins/thl_integration
	url = git://github.com/thl/thl_integration.git
[submodule "vendor/plugins/complex_scripts"]
	path = vendor/plugins/complex_scripts
	url = git://github.com/thl/complex_scripts.git
[submodule "vendor/plugins/kmaps_integration"]
	path = vendor/plugins/kmaps_integration
	url = git://github.com/thl/kmaps_integration.git
[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = git://github.com/kete/tiny_mce.git
