<%= error_messages_for 'translation' %>

<!--[form:translation]-->
<p><label for="translation_translation">Translation</label><br/>
<%= text_field 'translation', 'translation'  %></p>

<p><label for="translation_language">Language</label><br/>
<%= text_field 'translation', 'language'  %></p>

<p><label for="translation_analytical_note">Analytical note</label><br/>
<%= text_field 'translation', 'analytical_note'  %></p>
<!--[eoform:translation]-->

