<%= error_messages_for 'literary_form' %>

<!--[form:literary_form]-->
<p><label for="literary_form_literary_form">Literary form</label><br/>
<%= text_field 'literary_form', 'literary_form'  %></p>
<!--[eoform:literary_form]-->

