  <h1>Listing Literary form</h1>
  <%= render_partial "partial/paginator", @literary_form_pages %><br>
<%= list_literary_form %>
  <br /><%= render_partial "partial/paginator", @literary_form_pages %><br />
