  <h1>Listing Oral quotation</h1>
  <%= render_partial "partial/paginator", @oral_quotation_pages %><br>
<%= list_oral_quotation %>
  <br /><%= render_partial "partial/paginator", @oral_quotation_pages %><br />
