
<%
    data = Category.find(data_id)
    model_name = 'etymology'

	case data_id
	  when 182
		target_update_div = "#{@etymology.id}_etymology_etymology_category_div"	
      when 184
        target_update_div = "#{@etymology.id}_etymology_loan_language_type_div" 
      when 180
        target_update_div = "#{@etymology.id}_etymology_derivation_type_div" 
      when 638
        target_update_div = "#{@etymology.id}_etymology_major_dialect_family_type_div"
      when 119
        target_update_div = "#{@etymology.id}_etymology_literary_genre_type_div"
      when 187
        target_update_div = "#{@etymology.id}_etymology_literary_period_type_div"
      when 186
        target_update_div = "#{@etymology.id}_etymology_literary_form_type_div"
	end
%>

  <% form_for :etymology, :url => category_etymology_associations_path(@etymology, @branch) do |f| %>
    <table class='mobj' border='0' cellspacing='0'>
		<%=
			category_fields :subject => {:display => '', :label => ''},
							:field_human_name => '',
							:root =>  data, 
							:var_name => model_name, 
							:field_name => [:category_etymology_associations, :category],
							:conditions => {:category_branch_id => @branch.id}, 
							:include_js => true, 
							:include_styles => false, 
							:selectable => true, 
							:single_selection => false
		%> 
	<tr><td></td></tr>
	</table>
    <br/>
    <%= submit_to_remote 'update_button','update', :url => category_etymology_associations_path(@etymology, @branch), :update => "#{target_update_div}" %>
    <%= link_to_remote 'cancel', {:url => category_etymology_associations_path(@etymology, @branch), :function_name => @function_name, :method => 'get', :update => "#{target_update_div}" } %>
  <% end %>

