  <h1>Listing Theme level one</h1>
  <%= render_partial "partial/paginator", @theme_level_one_pages %><br>
<%= list_theme_level_one %>
  <br /><%= render_partial "partial/paginator", @theme_level_one_pages %><br />
