<%= error_messages_for 'source_type' %>

<!--[form:source_type]-->
<p><label for="source_type_source_type">Source type</label><br/>
<%= text_field 'source_type', 'source_type'  %></p>
<!--[eoform:source_type]-->

