<%= error_messages_for 'spelling_specific_dialect' %>

<!--[form:spelling_specific_dialect]-->
<p><label for="spelling_specific_dialect_name">Name</label><br/>
<%= text_field 'spelling_specific_dialect', 'name'  %></p>
<!--[eoform:spelling_specific_dialect]-->

