  <h1>Listing Spelling specific dialect</h1>
  <%= render_partial "partial/paginator", @spelling_specific_dialect_pages %><br>
<%= list_spelling_specific_dialect %>
  <br /><%= render_partial "partial/paginator", @spelling_specific_dialect_pages %><br />
