<%= error_messages_for 'literary_period' %>

<!--[form:literary_period]-->
<p><label for="literary_period_literary_period">Literary period</label><br/>
<%= text_field 'literary_period', 'literary_period'  %></p>
<!--[eoform:literary_period]-->

