  <h1>Listing Literary period</h1>
  <%= render_partial "partial/paginator", @literary_period_pages %><br>
<%= list_literary_period %>
  <br /><%= render_partial "partial/paginator", @literary_period_pages %><br />
