<%= error_messages_for 'derivation' %>

<!--[form:derivation]-->
<p><label for="derivation_derivation">Derivation</label><br/>
<%= text_field 'derivation', 'derivation'  %></p>
<!--[eoform:derivation]-->

