  <h1>Listing Literary quotation</h1>
  <%= render_partial "partial/paginator", @literary_quotation_pages %><br>
<%= list_literary_quotation %>
  <br /><%= render_partial "partial/paginator", @literary_quotation_pages %><br />
