#login-status {
border-bottom-width:0pt;
color:#606060;
font-family:helvetica,arial,sans-serif;
font-size:100%;
font-weight:bold;
margin:0pt;
padding:0pt 7px 0pt 0pt;
position:absolute;
right:0px;
top:92px;
z-index:0;
}