.tib {
	font-family: "Tibetan Machine Uni"!important; font-size: 14pt; line-height: 20pt; font-style: normal; text-align: left;
}
.ListLine0 {
	background: #b9b9b9
}
.ListLine1 {
	background: #e6e6e6
}              
.internal {
	background-color:#e6e6e6; border-style:solid; border-width:thin; padding: 5px;
}

.internal_box {
	border-style:solid; border-width:thin; padding: 5px;
}