div#login {
	position:absolute;
	left:400px;
}
.def_header {
	font-size: 9px;
	padding: 10px;
	color: #000000;
}
.inner_def_header {
	font-size: 9px;
	padding: 10px;
	color: #2b2b2b;
}
.bo {
 font-size: 140%;
 font-family: "XenoType Tibetan New", "Jomolhari", "Tibetan Machine Uni"!important;
 line-height: 140%;
 text-align: left;
 font-weight: normal;
}
/*.tib1 
{
	font-family: "Tibetan Machine Uni"!important; 
	font-size: 14pt; 
	line-height: 16pt; 
	font-style: normal; 
	text-align: left;
} 
.tib1 p {
	font-family: "Tibetan Machine Uni"!important; 
	font-size: 12pt; 
	line-height: 14pt; 
	font-style: normal; 
	text-align: left;
	
}
*/

.popup_html{min-width:540px;}  /* .popup_html{min-width:670px;}fix for related term */

#content_popup {
float:left;
background-color:#FFFFFF;
height:auto !important;
margin:0 0 100px;
  /*min-height:520px;  */  /* min-height:600px; fix for related term */
  min-height:420px;    

padding:0;
width:100%;
}
#content_popup .shell-1 {
display:inline;
float:left;
margin:15px auto 0;
padding-left:2%;
width:96%;
}

/*.dictionary_content {*/  /* this is main content div now since inside universal navigation */
#universal_navigation_content {
	font-family: "Arial Unicode MS", "Gentium", "Lucida Grande", "Microsoft Sans Serif", "Tahoma", sans-serif, "XenoType","Tibetan Machine Uni"!important;
	font-size:10pt;
	line-height: 12pt; 
}

.dictionary_content dl dd{
	font-size: 10pt;
}

.dictionary_content dd a{
	border-bottom: 0px;
	color:blue;
	text-decoration: none;
}

.dictionary_content td, th{
	padding: 3px;
}

.other_dictionaries {
	line-height: 16pt;
}
.head_term
{
	font-family: "Tibetan Machine Uni"!important; 
	font-size: 16pt; 
	line-height: 18pt; 
	font-style: normal; 
/*	text-align: left;*/
} 

a img { display:inline !important; }

#content a:link, a:hover, a:visited {
	border-bottom: 0px;
	text-decoration: none;
	color:blue;
}

#alphabet td {
	padding: 0px;
}

#content img {
	display: inline;
}
/*#content {
	font-size:12pt;
}
*/
textarea {
	width: auto;
}
#show_meta_menu a:link {
	font-size:8pt;
}

.selector_link {
	text-decoration: none;
	color: black;
}

.internal_box {
	border-style:solid; border-width:thin; padding: 5px;
}
.inner_dl {
	margin-top:0em;
	margin-bottom:0em;
}
.inner_dd {
	margin: 0;padding: 0;
	padding-left: 40px;
}
.inner_dl dd {
	margin: 0;padding: 0;
	padding-left: 40px;
}
.inner_dl




/*.definitions_show a:link, a:visited {color:#222222;}
.definitions_show a:hover {background-color:#FFFF99;}*/
.definitions_show a:link {background-color:#B2FF99;}
.definitions_show a:visited {background-color:#FFFF85;}
.definitions_show a:hover {background-color:#FFFF99;}
.definitions_show a:active {background-color:#FFFF99;}
a.definitions_show:link {color:#222222;}
a.definitions_show:visited {color:#222222;}
a.definitions_show:hover {color:#222222;}

.definitions_show h1{font-size: 10pt;border-bottom:0px;margin: 0 !important;padding:0;color:#222222;}
.definitions_show h2{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.definitions_show h3{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.definitions_show h4{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.definitions_show h5{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.definitions_show h6{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.definitions_show p{font-size: 10pt; margin:0 0 5px;color:#222222;}
.definitions_thickbox_show p{font-size: 10pt; margin:0 0 5px;color:#222222;line-height:normal;}

.etymologies_show h1{font-size: 10pt;border-bottom:0px;margin: 0 !important;padding:0;color:#222222;}
.etymologies_show h2{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.etymologies_show h3{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.etymologies_show h4{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.etymologies_show h5{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.etymologies_show h6{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.etymologies_show p{font-size: 10pt; margin:0 0 5px;color:#222222;line-height:normal;}

.tinyfied_show h1{font-size: 10pt;border-bottom:0px;margin: 0 !important;padding:0;color:#222222;}
.tinyfied_show h2{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.tinyfied_show h3{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.tinyfied_show h4{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.tinyfied_show h5{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.tinyfied_show h6{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.tinyfied_show p{font-size: 10pt; margin:0 0 5px;color:#222222;line-height:normal;}
.tinyfied_public_show p{font-size: 10pt; margin:0 0 5px;color:#222222;line-height:normal;}
.tinyfied_public_show_inline p{display:inline;font-size: 10pt; margin:0 0 5px;color:#222222;}

.tibpassage_show p{font-size: 10pt; margin:0 0 5px;color:#222222;}

#popup_dialog {font-size: 10pt; line-height:12pt;}
#popup_dialog b{font-size: 10pt; font-weight:bold; line-height:12pt;}

/* fixes for universal navigation tabs on edit mode */
.ui-tabs .primary-tabs li a {padding: 0px 10px 0px 0px !important;float: none !important;}
#universal_navigation > ul.primary-tabs .ui-state-active{border:0px;}
.ui-tabs{padding: 0px !important; zoom: 0 !important;}
/*.ui-tabs .ui-tabs-nav{padding: 0px 0px 0px 4px !important;}*/
.ui-tabs .primary-tabs{padding: 0px 0px 0px 4px !important;}
/*.ui-tabs .ui-tabs-nav li{margin: 0px 0px 0px 1px !important;}*/
.ui-tabs .primary-tabs li{margin: 0px 0px 0px 1px !important;}

/* fixes for secondary nav items */
ul.secondary-tabs{padding: 0px 0px 0px 35px !important;}
ul.secondary-tabs li{margin: 5px 0px 0px !important;}
ul.secondary-tabs a{color: #444 !important;padding: 3px 10px 1px 0px !important;}
ul.secondary-tabs a span{color: #444 !important;padding: 3px 0px 1px 10px !important;}
#universal_navigation > ul.secondary-tabs .ui-tabs-selected {padding-bottom: 0px; background:none; border-left: 0px !important; border-botton: 0px !important} 



.public_show {margin-left:40px;}
#definition_find_term {margin-left:40px;margin-top:10px}
.related_term_definition_to {margin-top: 5px; margin-left:20px; }
.popup_close {margin-left:150px;}


/* temp fix for related term popup */
.draggable-popup {
	/*display:none;*/
	border:1px solid #999;
	background-color:#eee;
	padding:7px 12px 7px 12px;
	z-index:5000;
}
.draggable-popup-header{
	font-size:12px;
	color:#999;
	margin:4px 20px 0px 0;
	height:20px;
}
.draggable-popup-close {
	width:30px;
	height:30px;
	position:absolute;
	right:0;
	top:0;
	opacity:0.6;
	filter:alpha(opacity=60);
	background:transparent url(../images/draggable-popup-close.png) no-repeat scroll 0 0;
	cursor:pointer;
}
.draggable-popup-close:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}
.draggable-popup-content {
	margin:0;
	overflow:auto;
	border:1px solid #ccc;
	background-color:#fff;
}
.draggable-popup-content > div {
	margin: 5px;
}
.draggable-popup-content > iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 0;
	background: url(../images/draggable-popup-ajax-loader.gif) no-repeat scroll center center;
}
.draggable-popup-content > .conx-content {
	margin: 0;
}
.draggable-popup-footer {
	text-align:right;
	font-size:11px;
	color:#999;
	margin-right:12px;
	margin-top:5px;
}
.draggable-popup-footer a {
	color:#666;
}
