div#login {
	position:absolute;
	left:400px;
}
.def_header {
	font-size: 9px;
	padding: 10px;
	color: #000000;
}
.inner_def_header {
	font-size: 9px;
	padding: 10px;
	color: #2b2b2b;
}
.bo {
 font-size: 140%;
 font-family: "XenoType Tibetan New", "Jomolhari", "Tibetan Machine Uni"!important;
 line-height: 140%;
 text-align: left;
 font-weight: normal;
}
/*.tib1 
{
	font-family: "Tibetan Machine Uni"!important; 
	font-size: 14pt; 
	line-height: 16pt; 
	font-style: normal; 
	text-align: left;
} 
.tib1 p {
	font-family: "Tibetan Machine Uni"!important; 
	font-size: 12pt; 
	line-height: 14pt; 
	font-style: normal; 
	text-align: left;
	
}
*/
.dictionary_content {
	font-family: "Arial Unicode MS", "Gentium", "Lucida Grande", "Microsoft Sans Serif", "Tahoma", sans-serif, "XenoType","Tibetan Machine Uni"!important;
	font-size:10pt;
	line-height: 12pt; 
}

.dictionary_content dl dd{
	font-size: 10pt;
}

.dictionary_content dd a{
	border-bottom: 0px;
	color:blue;
	text-decoration: none;
}

.dictionary_content td, th{
	padding: 3px;
}

.other_dictionaries {
	line-height: 16pt;
}
.head_term
{
	font-family: "Tibetan Machine Uni"!important; 
	font-size: 16pt; 
	line-height: 18pt; 
	font-style: normal; 
/*	text-align: left;*/
} 

#content a:link, a:hover, a:visited {
	border-bottom: 0px;
	text-decoration: none;
	color:blue;
}

#alphabet td {
	padding: 0px;
}

#content img {
	display: inline;
}
/*#content {
	font-size:12pt;
}
*/
textarea {
	width: auto;
}
#show_meta_menu a:link {
	font-size:8pt;
}

.selector_link {
	text-decoration: none;
	color: black;
}

.internal_box {
	border-style:solid; border-width:thin; padding: 5px;
}
.inner_dl {
	margin-top:0em;
	margin-bottom:0em;
}
.inner_dd {
	margin: 0;padding: 0;
	padding-left: 40px;
}
.inner_dl dd {
	margin: 0;padding: 0;
	padding-left: 40px;
}
.inner_dl


/*.definitions_show a:link, a:visited {color:#222222;}
.definitions_show a:hover {background-color:#FFFF99;}*/
.definitions_show a:link {background-color:#B2FF99;}
.definitions_show a:visited {background-color:#FFFF85;}
.definitions_show a:hover {background-color:#FFFF99;}
.definitions_show a:active {background-color:#FFFF99;}
a.definitions_show:link {color:#222222;}
a.definitions_show:visited {color:#222222;}
a.definitions_show:hover {color:#222222;}

.definitions_show h1{font-size: 10pt;border-bottom:0px;margin: 0 !important;padding:0;color:#222222;}
.definitions_show h2{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.definitions_show h3{font-size: 10pt;margin: 0;padding:0;color:#222222;}
.definitions_show h4{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.definitions_show h5{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.definitions_show h6{font-size: 10pt;margin: 0;padding:0;font-weight:normal;color:#222222;}
.definitions_show p{font-size: 10pt; margin:0 0 5px;color:#222222;}