<%= error_messages_for 'pronunciation_type' %>

<!--[form:pronunciation_type]-->
<p><label for="pronunciation_type_pronunciation_type">Pronunciation type</label><br/>
<%= text_field 'pronunciation_type', 'pronunciation_type'  %></p>
<!--[eoform:pronunciation_type]-->

