  <h1>Listing Pronunciation type</h1>
  <%= render_partial "partial/paginator", @pronunciation_type_pages %><br>
<%= list_pronunciation_type %>
  <br /><%= render_partial "partial/paginator", @pronunciation_type_pages %><br />
