<%= error_messages_for 'group' %>

<!--[form:group]-->
<p><label for="group_group_name">Group name</label><br/>
<%= text_field 'group', 'group_name'  %></p>

<p><label for="group_analytical_note">Analytical note</label><br/>
<%= text_field 'group', 'analytical_note'  %></p>
<!--[eoform:group]-->

