<%= error_messages_for 'etymology_type' %>

<!--[form:etymology_type]-->
<p><label for="etymology_type_etymology_type">Etymology type</label><br/>
<%= text_field 'etymology_type', 'etymology_type'  %></p>
<!--[eoform:etymology_type]-->

