  <h1>Listing Etymology type</h1>
  <%= render_partial "partial/paginator", @etymology_type_pages %><br>
<%= list_etymology_type %>
  <br /><%= render_partial "partial/paginator", @etymology_type_pages %><br />
