  <h1>Listing Pronunciation</h1>
  <%= render_partial "partial/paginator", @pronunciation_pages %><br>
<%= list_pronunciation %>
  <br /><%= render_partial "partial/paginator", @pronunciation_pages %><br />
