
<%
    data = Category.find(data_id)
    model_name = 'definition'

	case data_id
	  when 272
		target_update_div = "#{@definition.id}_popupdefinition_thematic_classification_div"	
	  when 286
		target_update_div = "#{@definition.id}_popupdefinition_grammatical_function_div"	
	  when 190
		target_update_div = "#{@definition.id}_popupdefinition_register_div"	
	  when 185
		target_update_div = "#{@definition.id}_popupdefinition_language_context_div"	
	  when 119
		target_update_div = "#{@definition.id}_popupdefinition_literary_genre_div"	
	  when 187
		target_update_div = "#{@definition.id}_popupdefinition_literary_period_div"	
	  when 186
		target_update_div = "#{@definition.id}_definition_literary_form_div"	
	  #only on edit dynamic window
	  when 184
		target_update_div = "#{@definition.id}_definition_language_type_div"	
	  when 638
		target_update_div = "#{@definition.id}_definition_major_dialect_family_type_div"	
	  
			
	end
%>

  <% form_for :definition, :url => category_definition_associations_path(@definition, @branch) do |f| %>
    <%#= f.hidden_field :id %>
	<%#= f.hidden_field :branch_id, :value => data_id %>
    <table class='mobj' border='0' cellspacing='0'>
		<%=
			category_fields :subject => {:display => '', :label => ''},
							:field_human_name => '',
							:root =>  data, 
							:var_name => model_name, 
							:field_name => [:definition_category_associations, :category],
							:conditions => {:category_branch_id => @branch.id}, 
							:include_js => true, 
							:include_styles => false, 
							:selectable => true, 
							:single_selection => false
		%> 
	<tr><td></td></tr>
	</table>
    <br/>
    <%= submit_to_remote 'update_button','update', :url => category_definition_associations_path(@definition, @branch), :update => "#{target_update_div}" %>
    <%= link_to_remote 'cancel', {:url => category_definition_associations_path(@definition, @branch), :function_name => @function_name, :method => 'get', :update => "#{target_update_div}" } %>
  <% end %>

