
<% 
    #data = Category.find(data_id)
    model_name = 'definition'

	target_update_div = "#{@definition.id}_definition_thematic_classification_div"	
%>

  <% form_for :definition, :url => create_generic_inplace_category_definition_association_path(@definition) do |f| %>
    <%#= f.hidden_field :id %>
	<%#= f.hidden_field :branch_id, :value => data_id %>
    <table class='mobj' border='0' cellspacing='0'>
	<%=	category_fields :subject => {:label => 'Subject Generic Multiple associations'}, :var_name => :definition, :field_name => [:not_fixed_associations, :category], :include_js => false, :include_styles => false, :selectable => true, :single_selection => false %>
		<%#=
			category_fields :subject => {:display => '', :label => ''},
							:field_human_name => '',
							:show_dropdown => false, 
							:var_name => model_name, 
							:field_name => [:definition_category_associations, :category],
							#:conditions => {:category_branch_id => @branch.id}, 
							:conditions => ["category_branch_id NOT IN (#{Array.new(DefinitionCategoryAssociation::FIXED.size, '?').join(',')})"] + DefinitionCategoryAssociation::FIXED,
							:include_js => true, 
							:include_styles => false, 
							:selectable => true, 
							:single_selection => false
		%> 
	<tr><td></td></tr>
	</table>
    <br/>
    <%= submit_to_remote 'update_button','update', :url => create_generic_inplace_category_definition_association_path(@definition), :update => "#{target_update_div}" %>
    <%#= link_to_remote 'cancel', {:url => category_definition_associations_path(@definition, @branch), :function_name => @function_name, :method => 'get', :update => "#{target_update_div}" } %>
  <% end %>

