
<% assoc = @definition.send(:not_fixed_associations) %>

<table>
  <tr>
    <!--<td><%#= assoc.collect{|a| a.category.title}.join(', ') %></td>	-->
	<td><%= assoc.collect{|a| link_to a.category.title, a.category.get_url_with_parent}.join(', ') %></td>
  </tr>
</table>

<br />