  <h1>Listing Literary genre</h1>
  <%= render_partial "partial/paginator", @literary_genre_pages %><br>
<%= list_literary_genre %>
  <br /><%= render_partial "partial/paginator", @literary_genre_pages %><br />
