  <h1>Listing Thematic classification</h1>
  <%= render_partial "partial/paginator", @thematic_classification_pages %><br>
<%= list_thematic_classification %>
  <br /><%= render_partial "partial/paginator", @thematic_classification_pages %><br />
