<tr><td>
	<b>Dan Martin Dictionary:</b>
</td></tr>


<% for d in @dan_martin_definitions %>
	<tr>
		<td></td>
		<td>
			
			<span class="tib1">
			<%= d.term.s if d.term != nil %>
			<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
			</span>
		</td>
		<td>
			<%#= link_to image_tag('pencil.png',:border => 0), url_for( :action => 'edit_dynamic_definition', :id => d.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true) + '&TB_iframe=true', :class=>:thickbox, :title=>'Other Definition Edit' %>		
			<%= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Dan Martin Dictionary) Edit' %>			
			<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
			<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
		</td>
	</tr>
<% end %>