<table class="tzr-dbl">
<tr>
<!-- top-left image -->
<td class="layout-image">
<div class="img-left-shadow">
<div><img src="images/dr04_1246-text-detail-140.jpg" width="195" height="195" alt="Detail of a handwritten Tibetan text" /></div>
<h6>Detail of a handwritten Tibetan text</h6>
</div>
</td>


<!-- top stacked tzrs begin -->
<td>
<div class="tzr-intro-1 wikitext tzr-stacked-1">
<h5>Introduction to THL Tibetan Historical Dictionary</h5>
<!--<a href="/access/wiki/site/0b308aa3-d044-469b-009a-d34c7841413d/thdl%20tibetan%20historical%20dictionary%20introduction.html" class="wiki"></a>-->
<%= render :file => "http://www.thlib.org/reference/dictionaries/tibetan-dictionary/about/wiki/thdl%20tibetan%20historical%20dictionary%20introduction.html" %>
</div>

<div class="tzr-intro-1 wikitext tzr-stacked-2">
<h5>THL Tibetan Historical Dictionary Overview</h5>
<a href="/access/wiki/site/0b308aa3-d044-469b-009a-d34c7841413d/thdl%20tibetan%20historical%20dictionary%20overview.html" class="wiki o2"></a>
</div>

<!-- link to about us page -->
<h6 class="link-about"><a href="#wiki=/access/wiki/site/0b308aa3-d044-469b-009a-d34c7841413d/thdl%20tibetan%20historical%20dictionary%20about%20us.html" title="Link to About Us page">About Us</a></h6>

</td>
</tr>
</table>
<!-- stacked tzrs end -->



<div class="container-wrapper">
<div class="container-left-4060">

<div class="tzr-box1 wikitext">
	<a href="/access/wiki/site/0b308aa3-d044-469b-009a-d34c7841413d/thdl%20tibetan%20historical%20dictionary%20home%20-%20left1.html"
		class="wiki c330"> </a>
</div>

