<script type="text/javascript">
var pref = (location.host).split('.').shift();
alert(pref);
if(location.pathname == "/" && !location.hash) {
   location.hash = "iframe=http://dev.thlib.org/reference/dictionaries/tibetan-dictionary/&div_id=universal_navigation_content";
}
</script>

<p>
	
	
	
	
	
</p>