<table>
<% for term in @terms do %>
	<tr>
		<td>
			<%= term.term %>
		</td>
		<td>
			<%= term.level %>
		</td>
		<td>
			<%= term.grammatical_function %>
		</td>
		<td>
			<%= term.definition %>
		</td>
	</tr>
<% end %>
</table>
		