
<%= tagged_tinymce_script %>
<% form_for :definition, :url => { :action => "update_definition" } do |f| %>

<p>
    <b>Definition</b><br />
<%= f.hidden_field :id %>
<%= f.text_area :definition, :class => 'mceEditor' %>
<%= submit_tag 'Update' %>
</p>
<% end %>
