  <h1>Listing Theme level three</h1>
  <%= render_partial "partial/paginator", @theme_level_three_pages %><br>
<%= list_theme_level_three %>
  <br /><%= render_partial "partial/paginator", @theme_level_three_pages %><br />
