  <h1>Listing Definition definition form</h1>
  <%= render_partial "partial/paginator", @definition_definition_form_pages %><br>
<%= list_definition_definition_form %>
  <br /><%= render_partial "partial/paginator", @definition_definition_form_pages %><br />
