  <h1>Listing Grammar function level three</h1>
  <%= render_partial "partial/paginator", @grammar_function_level_three_pages %><br>
<%= list_grammar_function_level_three %>
  <br /><%= render_partial "partial/paginator", @grammar_function_level_three_pages %><br />
