  <h1>Listing Grammar function level two</h1>
  <%= render_partial "partial/paginator", @grammar_function_level_two_pages %><br>
<%= list_grammar_function_level_two %>
  <br /><%= render_partial "partial/paginator", @grammar_function_level_two_pages %><br />
