<%= error_messages_for 'model_sentence_type' %>

<!--[form:model_sentence_type]-->
<p><label for="model_sentence_type_sentence_type">Sentence type</label><br/>
<%= text_field 'model_sentence_type', 'sentence_type'  %></p>
<!--[eoform:model_sentence_type]-->

