  <h1>Listing Model sentence type</h1>
  <%= render_partial "partial/paginator", @model_sentence_type_pages %><br>
<%= list_model_sentence_type %>
  <br /><%= render_partial "partial/paginator", @model_sentence_type_pages %><br />
