  <h1>Listing Full synonym</h1>
  <%= render_partial "partial/paginator", @full_synonym_pages %><br>
<%= list_full_synonym %>
  <br /><%= render_partial "partial/paginator", @full_synonym_pages %><br />
