  <h1>Listing Definition definition</h1>
  <%= render_partial "partial/paginator", @definition_definition_pages %><br>
<%= list_definition_definition %>
  <br /><%= render_partial "partial/paginator", @definition_definition_pages %><br />
