<%= error_messages_for 'major_dialect' %>

<!--[form:major_dialect]-->
<p><label for="major_dialect_name">Name</label><br/>
<%= text_field 'major_dialect', 'name'  %></p>
<!--[eoform:major_dialect]-->

