  <h1>Listing Major dialect</h1>
  <%= render_partial "partial/paginator", @major_dialect_pages %><br>
<%= list_major_dialect %>
  <br /><%= render_partial "partial/paginator", @major_dialect_pages %><br />
