
<%
    data = Category.find(data_id)
    model_name = 'translation_equivalent'

	case data_id
	  when 184
		target_update_div = "#{@translation_equivalent.id}_translation_equivalent_language_div"	
	end
%>

  <% form_for :translation_equivalent, :url => category_translation_equivalent_associations_path(@translation_equivalent, @branch) do |f| %>
    <table class='mobj' border='0' cellspacing='0'>
		<%=
			category_fields :subject => {:display => '', :label => ''},
							:root =>  data, 
							:var_name => model_name, 
							:field_name => [:category_translation_equivalent_associations, :category],
							:conditions => {:category_branch_id => @branch.id}, 
							:include_js => true, 
							:include_styles => false, 
							:selectable => false, 
							:single_selection => false
		%> 
	<tr><td></td></tr>
	</table>
    <br/>
    <%= submit_to_remote 'update_button','update', :url => category_translation_equivalent_associations_path(@translation_equivalent, @branch), :update => "#{target_update_div}" %>
    <%= link_to_remote 'cancel', {:url => category_translation_equivalent_associations_path(@translation_equivalent, @branch), :function_name => @function_name, :method => 'get', :update => "#{target_update_div}" } %>
  <% end %>

