
<% assoc = @translation_equivalent.category_translation_equivalent_associations.find(:all, :conditions => {:category_branch_id => data_id}) %>

<table>
  <tr>
    <td><%= assoc.collect{|a| a.category.title}.join(', ') %></td>
  </tr>
</table>

<br />