
<%
    data = Category.find(data_id)
    model_name = 'literary_quotation'

	case data_id
	  when 192
		target_update_div = "#{@literary_quotation.id}_literary_quotation_script_type_div"	
	  when 186
		target_update_div = "#{@literary_quotation.id}_literary_quotation_literary_form_type_div"	
	  when 119
		target_update_div = "#{@literary_quotation.id}_popupliterary_quotation_literary_genre_type_div"
	end
%>

  <% form_for :literary_quotation, :url => category_literary_quotation_associations_path(@literary_quotation, @branch) do |f| %>
    <table class='mobj' border='0' cellspacing='0'>
		<%=
			category_fields :subject => {:display => '', :label => ''},
							:field_human_name => '',
							:root =>  data, 
							:var_name => model_name, 
							:field_name => [:category_literary_quotation_associations, :category],
							:conditions => {:category_branch_id => @branch.id}, 
							:include_js => true, 
							:include_styles => false, 
							:selectable => true, 
							:single_selection => false
		%> 
	<tr><td></td></tr>
	</table>
    <br/>
    <%= submit_to_remote 'update_button','update', :url => category_literary_quotation_associations_path(@literary_quotation, @branch), :update => "#{target_update_div}" %>
    <%= link_to_remote 'cancel', {:url => category_literary_quotation_associations_path(@literary_quotation, @branch), :function_name => @function_name, :method => 'get', :update => "#{target_update_div}" } %>
  <% end %>

