  <h1>Listing Language context</h1>
  <%= render_partial "partial/paginator", @language_context_pages %><br>
<%= list_language_context %>
  <br /><%= render_partial "partial/paginator", @language_context_pages %><br />
