
<% assoc = @oral_quotation.category_oral_quotation_associations.find(:all, :conditions => {:category_branch_id => data_id}) %>

<table>
  <tr>
    <td><%= assoc.collect{|a| link_to a.category.title, a.category.get_url_with_parent}.join(', ') %></td>
  </tr>
</table>

<br />