  <h1>Listing Old definition</h1>
  <%= render_partial "partial/paginator", @old_definition_pages %><br>
<%= list_old_definition %>
  <br /><%= render_partial "partial/paginator", @old_definition_pages %><br />
