<div class="tib1">
	<span class="tib1">
	<b><font size="+1"><%= @old_definition.term %></font></b>
	</span>
	<br><br>
	<div>
		<%= @old_definition.definition%>
		<br>
		<b><%= @old_definition.dictionary %></b>
	</div>

</div>