
<%
    data = Category.find(data_id)
    model_name = 'spelling'

	case data_id
	  when 191
		target_update_div = "#{@spelling.id}_spelling_basis_of_spelling_div"	
      when 4091
        target_update_div = "#{@spelling.id}_spelling_spelling_category_div" 
      when 638
        target_update_div = "#{@spelling.id}_spelling_major_dialect_family_div" 
      when 119
        target_update_div = "#{@spelling.id}_spelling_literary_genre_div"
      when 187
        target_update_div = "#{@spelling.id}_spelling_literary_period_div"
      when 186
        target_update_div = "#{@spelling.id}_spelling_literary_form_div"
	end
%>

  <% form_for :spelling, :url => category_spelling_associations_path(@spelling, @branch) do |f| %>
    <table class='mobj' border='0' cellspacing='0'>
		<%=
			category_fields :subject => {:display => '', :label => ''},
							:field_human_name => '',
							:root =>  data,
							:show_dropdown => false, 
							:var_name => model_name, 
							:field_name => [:category_spelling_associations, :category],
							:conditions => {:category_branch_id => @branch.id}, 
							:include_js => true, 
							:include_styles => false, 
							:selectable => true, 
							:single_selection => false
		%> 
	<tr><td></td></tr>
	</table>
    <br/>
    <%= submit_to_remote 'update_button','update', :url => category_spelling_associations_path(@spelling, @branch), :update => "#{target_update_div}" %>
    <%= link_to_remote 'cancel', {:url => category_spelling_associations_path(@spelling, @branch), :function_name => @function_name, :method => 'get', :update => "#{target_update_div}" } %>
  <% end %>

