  <h1>Listing Grammar function level one</h1>
  <%= render_partial "partial/paginator", @grammar_function_level_one_pages %><br>
<%= list_grammar_function_level_one %>
  <br /><%= render_partial "partial/paginator", @grammar_function_level_one_pages %><br />
