  <h1>Listing Loan language</h1>
  <%= render_partial "partial/paginator", @loan_language_pages %><br>
<%= list_loan_language %>
  <br /><%= render_partial "partial/paginator", @loan_language_pages %><br />
