<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="en" lang="en">
 <head>
   <title><%= controller.controller_name.humanize %>: <%= controller.action_name.humanize %></title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="MSSmartTagsPreventParsing" content="TRUE">
   <%= javascripts %>
   <%= stylesheets %>

 </head>

<div id="dynamic-content">
	<div class="dynamic-shell-1">

		<%= @content_for_layout %>
	</div>
</div>
