<%#= render :partial => 'shared/header' %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="popup_html">
  <head>
    <title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<%= stylesheets %>
<%= javascripts %>
</head>

<script>
function hide_content(class_name) {
	var cols = document.getElementsByClassName(class_name);
	for (x=0;x < cols.length;x++) {
		c = cols[x];
		c.style.display = 'none';
	}
}
function show_content(class_name) {
	var cols = document.getElementsByClassName(class_name);
	for (x=0;x < cols.length;x++) {
		c = cols[x];
		c.style.display = '';
	}
}
function clear_contents(node)
{
  if (!node) return false;
  if (typeof node == 'string')
    node = document.getElementById(node);
  if (node) node.innerHTML = '';
}
</script>

<div id="content_popup" class="dictionary_content">
	<div class="shell-1">

		<%= @content_for_layout %>
	</div>
</div>
